.OpportunitiesBlock {
  display: grid;
  margin-bottom: 173px;
}
.headingText {
  margin: auto;
  padding-top: 150px;
  padding-bottom: 120px;
}
.headingText h2 {
  font-size: 52px;
  font-weight: 500;
  line-height: normal;
  font-style: normal;
}
.OpportunitiesInsideBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  padding: 20px 0;
}
.OpportunitiesInsideBlock p {
  margin-top: 30px;
}
.headP h3 {
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.headP p {
  font-size: 18px;
  font-weight: 400;
}
.headH h1 {
  color: #6d32ff;
  font-size: 72px;
  font-weight: 600;
}
