

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  padding: 0 7.8%;
}

button {
  border: none;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}