.RatesCard {
    background: #6D32FF;
    border-radius: 20px;
    padding: 56px 32px;
    color: #fff;
    width: 33%;
}

.RatesCard h3 {
    display: flex;
    justify-content: center;
}

.RatesCard span {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
}

.conditions div {
    display: flex;
    grid-gap: 15px;
}

.conditions div p {
    font-size: 20px;
}